<%= form_with(model: report, local: true) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, required: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
